**below code is to download the nltk module**

In [ ]:
pip install nltk

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nltk in /usr/local/lib/python3.8/dist-packages (3.7)
Requirement already satisfied: click in /usr/local/lib/python3.8/dist-packages (from nltk) (7.1.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from nltk) (4.64.1)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.8/dist-packages (from nltk) (2022.6.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.8/dist-packages (from nltk) (1.2.0)

In [13]:
import re
import nltk

nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()
all_sw=stopwords.words('english')
all_sw.remove('not')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

**below code is to mount the drive into colab**

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

**below code is to read a csv file and convert into dataframe**

In [11]:
import pandas as pd
data = pd.read_csv('/content/drive/MyDrive/#agnipath.csv')
data=data['Unnamed: 2']

****

**below code is to delete the emojis, other languages,< br > statements from the data**

In [14]:
corpus=[]
for i in range(len(data)):
  review=re.sub('[^a-zA-Z]',' ',data[i])
  review =review.lower()
  review = review.split()
  review=[ps.stem(word) for word in review if not word in set(all_sw)]
  review =' '.join(review)
  corpus.append(review)

In [8]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=len(data))

In [ ]:
data =cv.fit_transform(corpus).toarray()

In [135]:
data.head()

,Unnamed: 0,Tweet,Unnamed: 2
0,0,"Imagine all the wrong things we do, which we n...",Na ruke na kabhi na jhuke na kabhi na dabe na ...
1,1,Na Ruke Na Kabhi Na Jhuke Na Kabhi Na Dabe Na ...,"@summer_shower8 @codenamelineman matlab ye, ki..."
2,2,"@summer_shower8 @CodeNameLineMan Matlab ye, ki...",#VALUE!
3,3,@Chopsyturvey Agnipath waalo ka future.,@Write2divya Himachal Walo Ne Kya Kiya .. Agni...
4,4,@write2divya Himachal walo ne kya kiya.. Agnip...,#VALUE!

In [137]:
data=data['Unnamed: 2']
data.head()

0    Na ruke na kabhi na jhuke na kabhi na dabe na ...
1    @summer_shower8 @codenamelineman matlab ye, ki...
2                                              #VALUE!
3    @Write2divya Himachal Walo Ne Kya Kiya .. Agni...
4                                              #VALUE!
Name: Unnamed: 2, dtype: object

**to delete the null values**

In [126]:
data=data.dropna()

In [7]:
data.shape[0]

20000

**below code is to save the updated dataframe to a csv and save it in the drive**

In [133]:
data.to_csv('/content/drive/MyDrive/#JusticeForDefenceStudents2.0.csv')